body {
  margin: 0%;
  padding: 0%;
}

header {
  height: auto;
}
header .menu-logo-top {
  height: auto;
  background-image: url("/images/banner/vecteezy_orange-background-orange-gradient-background-for_8032461.jpg");
  background-size: auto;
}
header .menu-logo-top .menu-top {
  height: auto;
}
header .menu-logo-top .menu-top ul {
  padding: 0%;
  height: auto;
  height: 100px;
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
header .menu-logo-top .menu-top ul li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
header .menu-logo-top .menu-top ul li a {
  color: #fdfbfa;
  font-size: x-large;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-logo-banner {
  margin-top: 1%;
}
.header-logo-banner .logo {
  border-radius: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 5px solid #d7580a;
}
.header-logo-banner .logo a {
  width: auto;
  height: auto;
}
.header-logo-banner .logo a img {
  margin: 0%;
  height: 270px;
  width: 270px;
  padding: 0%;
}
.header-logo-banner .banner-header {
  width: 100%;
  margin-top: 1%;
  background-image: url("/images/background-flash-sale/2621918.jpg");
  border-radius: 30px;
}
.header-logo-banner .banner-header #title-banner-header-flash-sale {
  width: 100%;
  margin: 0%;
  margin-bottom: 1%;
  margin-top: 1%;
  background-image: url("/images//background-flash-sale/orange_3_generated.jpg");
  background-size: cover;
  color: rgb(10, 10, 10);
  font-weight: 700;
  padding: 0%;
  text-align: center;
}
.header-logo-banner .banner-header .list-flash-sale-banner {
  width: 100%;
  height: auto;
  display: flex;
  background-size: cover;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 {
  display: flex;
  width: 50%;
  height: fit-content;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  min-height: max-content;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .title-flash-sale, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .title-flash-sale {
  width: 100%;
  height: 100%;
  bottom: 0%;
  margin-top: 3%;
  z-index: 1;
  background-size: cover;
  background-color: #f6711f;
  border-radius: 10px;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .title-flash-sale p, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .title-flash-sale p {
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 0%;
  margin: 0%;
  font-size: large;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  position: relative;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro .icon-flashsale, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro .icon-flashsale {
  top: 0%;
  right: 0%;
  height: 3%;
  position: absolute;
  text-align: center;
  color: rgb(255, 102, 0);
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro .icon-flashsale i, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro .icon-flashsale p, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro .icon-flashsale i, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro .icon-flashsale p {
  font-size: large;
  font-weight: bold;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro img, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro img {
  height: 65%;
  border-radius: 20px;
  width: 100%;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro .flash-sale-content, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro .flash-sale-content {
  width: 100%;
  height: 10%;
}
.header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro .flash-sale-content p, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale1 .flash-sale-pro .flash-sale-content h4, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro .flash-sale-content p, .header-logo-banner .banner-header .list-flash-sale-banner #flash-sale2 .flash-sale-pro .flash-sale-content h4 {
  font-size: small;
  text-align: center;
  color: rgb(245, 244, 244);
  font-weight: 700;
}
.header-logo-banner .text-promotion {
  margin-top: 1%;
  padding: 0%;
  margin: 0%;
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: center;
  background-image: url("/images/background-flash-sale/bn1.jpg");
  background-size: cover;
}
.header-logo-banner .text-promotion h2 {
  color: #d7580a;
  margin: 0%;
  font-weight: bold;
  font-size: xx-large;
}

.search-socialmedia {
  height: auto;
  margin-top: 1.5%;
  border-radius: 50px;
}
.search-socialmedia .title-web h1 {
  font-size: x-large;
  text-align: left;
  line-height: 2;
  color: #f6711f;
}
.search-socialmedia .list-sear-medi {
  display: flex;
}
.search-socialmedia .list-sear-medi .search {
  display: flex;
  justify-content: left;
}
.search-socialmedia .list-sear-medi .search input {
  width: 92%;
  height: 50px;
  border: 0.5px solid rgba(131, 131, 131, 0.4509803922);
  padding: 0%;
  margin: 0%;
}
.search-socialmedia .list-sear-medi .search i {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: xx-large;
  line-height: 50px;
  background-color: #d7580a;
  color: white;
}
.search-socialmedia .list-sear-medi .socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 50px;
}
.search-socialmedia .list-sear-medi .socialmedia a {
  color: #7b7b7a;
  font-size: large;
}
.search-socialmedia .list-sear-medi .socialmedia img {
  width: 50px;
  height: 50px;
}

.header-content {
  height: auto;
  margin-top: 1%;
}
.header-content .menu-slider {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.header-content .menu-slider .left-menu {
  height: 100%;
}
.header-content .menu-slider .left-menu ul {
  text-align: left;
  margin: 0%;
  margin-left: 7%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-content .menu-slider .left-menu ul li {
  list-style-type: none;
  height: 81.25px;
}
.header-content .menu-slider .left-menu ul li i {
  color: #8a897c;
  margin-right: 10px;
}
.header-content .menu-slider .left-menu ul li a {
  color: black;
  font-size: medium;
}
.header-content .menu-slider .slider {
  height: auto;
  padding: 0%;
}
.header-content .menu-slider .slider .slick-slider {
  padding: 0%;
  margin: 0%;
}
.header-content .menu-slider .slider .click-prev-next {
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  top: 45%;
}
.header-content .menu-slider .slider .click-prev-next #btn-prev {
  left: 0%;
  background-color: rgba(244, 238, 238, 0);
  border: none;
}
.header-content .menu-slider .slider .click-prev-next #btn-prev i {
  font-size: 2rem;
}
.header-content .menu-slider .slider .click-prev-next #btn-next {
  right: 0%;
  background-color: rgba(244, 238, 238, 0);
  border: none;
}
.header-content .menu-slider .slider .click-prev-next #btn-next i {
  font-size: 2rem;
}
.header-content .menu-slider .slider .slick-prev {
  display: none;
}
.header-content .menu-slider .slider .slick-next {
  display: none;
}
.header-content .menu-slider .slider .slides {
  height: 650px;
  padding: 0%;
  margin: 0%;
}
.header-content .menu-slider .slider .slides .slide {
  height: 100%;
}
.header-content .menu-slider .slider .slides .slide img {
  width: 100%;
  height: 650px;
  margin: 0%;
  padding: 0%;
}

.best-sale-products-slider {
  min-height: 400px;
  padding: 0%;
  margin: 0%;
  margin-top: 1%;
}
.best-sale-products-slider h1 {
  width: 100%;
  text-align: justify;
  color: #f6711f;
  color: white;
  background-image: url("/images/background-flash-sale/bn2.jpg");
  background-size: cover;
}
.best-sale-products-slider .list-sale-product {
  height: 100%;
  width: 100%;
  background-image: url("/images/background-flash-sale/3601229.jpg");
  background-size: auto;
}
.best-sale-products-slider .list-sale-product .title-timeset-product {
  width: 100%;
  height: 10%;
  padding: 0%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.best-sale-products-slider .list-sale-product .title-timeset-product h3 {
  color: white;
  line-height: 2;
  font-size: xx-large;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.best-sale-products-slider .list-sale-product .title-timeset-product h3 i {
  color: rgb(246, 255, 0);
}
.best-sale-products-slider .list-sale-product .title-timeset-product .time-set {
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-left: 1%;
}
.best-sale-products-slider .list-sale-product .title-timeset-product .time-set p {
  font-size: x-large;
  margin-left: 4%;
}
.best-sale-products-slider .list-sale-product .title-timeset-product .time-set .hour, .best-sale-products-slider .list-sale-product .title-timeset-product .time-set .minute, .best-sale-products-slider .list-sale-product .title-timeset-product .time-set .second {
  background-color: #f00b40;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  height: 100%;
  line-height: 2;
  color: white;
  font-weight: bold;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product {
  height: 88%;
  width: 100%;
  margin: 0%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 0%;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product {
  height: 100%;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product img {
  height: 70%;
  width: 100%;
  border: 1px solid rgb(135, 135, 135);
  object-fit: cover;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product .decription p {
  padding: 0%;
  width: 100%;
  height: 10%;
  margin: 0%;
  text-align: center;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product .decription #id-product {
  color: black;
  font-weight: 400;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product .decription #price-product {
  color: rgb(167, 12, 12);
  font-weight: 800;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product .decription .counter {
  position: relative;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product .decription .counter #under {
  top: 0%;
  width: 100%;
  height: 5%;
  background-image: url("/images/background-flash-sale/bn5.jpg");
  background-size: cover;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}
.best-sale-products-slider .list-sale-product .list-best-sale-product .bs-product .decription .counter #under #top {
  top: 0%;
  z-index: 10;
  width: 50%;
  height: 5%;
  z-index: 1;
  color: white;
  font-size: large;
  background-color: rgb(214, 92, 30);
  text-align: center;
  border-radius: 10px;
}

.suggest-products-today {
  height: auto;
  margin-top: 2%;
}
.suggest-products-today .search-list {
  height: auto;
}
.suggest-products-today .search-list .range-calculator {
  width: 100%;
  height: auto;
}
.suggest-products-today .search-list .range-calculator .range-feture {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.suggest-products-today .search-list .range-calculator .range-feture label {
  font-size: large;
}
.suggest-products-today .search-list .range-calculator .range-feture input[type=range] {
  -webkit-appearance: none;
  width: 70%;
}
.suggest-products-today .search-list .range-calculator .range-feture input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: rgb(230, 154, 67);
  border: none;
  border-radius: 3px;
}
.suggest-products-today .search-list .range-calculator .range-feture input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgb(245, 92, 3);
  margin-top: -10px;
}
.suggest-products-today .search-list .range-calculator .range-feture input[type=range]:focus {
  outline: none;
}
.suggest-products-today .search-list .range-calculator .range-feture input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(144, 143, 143);
}
.suggest-products-today .search-list .range-calculator #result {
  width: 100%;
  margin: 0%;
  height: 30px;
  font-size: larger;
  text-align: center;
  line-height: 15px;
  background-color: rgba(247, 115, 7, 0.9529411765);
  color: white;
  border: none;
}
.suggest-products-today .search-list .search-menu {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
  margin-top: 2%;
  height: auto;
}
.suggest-products-today .search-list .search-menu .search {
  min-height: 80px;
  width: 30%;
  display: flex;
  padding: 0%;
  justify-content: left;
}
.suggest-products-today .search-list .search-menu .search input {
  width: 100%;
  height: 50px;
  border: 0.5px solid rgba(131, 131, 131, 0.4509803922);
}
.suggest-products-today .search-list .search-menu .search i {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: x-large;
  line-height: 50px;
  background-color: rgba(247, 115, 7, 0.9529411765);
  color: white;
}
.suggest-products-today .search-list .search-menu .menu {
  width: 68%;
  padding: 0%;
  margin: 0%;
  margin-left: 2%;
}
.suggest-products-today .search-list .search-menu .menu ul {
  display: flex;
  width: 100%;
  height: 50px;
  list-style: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
}
.suggest-products-today .search-list .search-menu .menu ul li {
  list-style-type: none;
  height: 100%;
}
.suggest-products-today .search-list .search-menu .menu ul li a {
  color: #9c5300;
  font-weight: 700;
  font-size: large;
  line-height: 50px;
}
.suggest-products-today .title-suggest {
  height: auto;
}
.suggest-products-today .title-suggest .title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: 2px solid rgba(247, 115, 7, 0.9529411765);
  border-radius: 25px;
}
.suggest-products-today .title-suggest .title p {
  width: 100%;
  text-align: center;
  font-size: larger;
  color: #f6711f;
  font-weight: 700;
  line-height: 50%;
}
.suggest-products-today .title-suggest .line {
  padding: 0%;
  margin: 0%;
  border-top: 0.5rem solid rgba(247, 115, 7, 0.9529411765);
  border-radius: 20px;
}
.suggest-products-today .list-suggest-products {
  margin-top: 2%;
  height: auto;
}
.suggest-products-today .list-suggest-products .list-products {
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
}
.suggest-products-today .list-suggest-products .list-products .product {
  margin-bottom: 5%;
  height: auto;
  width: auto;
  padding: 0%;
}
.suggest-products-today .list-suggest-products .list-products .product img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.suggest-products-today .list-suggest-products .list-products .product p {
  width: 100%;
  text-align: center;
  padding: 0%;
  margin: 0%;
  margin-bottom: 3px;
  color: rebeccapurple;
  height: 10%;
}
.suggest-products-today .list-suggest-products .list-products .product .product-price {
  color: #f00b40;
  font-size: large;
  font-weight: 600;
}
.suggest-products-today .list-suggest-products .load-more {
  text-align: center;
  margin-top: 2%;
}
.suggest-products-today .list-suggest-products .load-more a {
  margin-left: 40%;
  font-size: larger;
  color: #d7580a;
}

/*# sourceMappingURL=style.css.map */
