@mixin icon-sale(){
    top: 0%;
    right: 0%;
    height: 3%;
    position: absolute;
    text-align: center;
    color: rgb(255, 102, 0);
    i,p{
        font-size: large;
        font-weight: bold;
    }       
}
@mixin product() {
    height: auto;
    width: auto;
    padding: 0%;
    img{
        width:100%;
        height:70%;
        object-fit: cover;
    }
    p{
        width: 100%;
        text-align: center;
        padding: 0%;
        margin: 0%;
        margin-bottom: 3px;
        color: rebeccapurple;
        height: 10%;    
    }
    .product-price{
        color: #f00b40;
        font-size: large;
        font-weight: 600;
    }
}
@mixin input-range {
    input[type=range]{
        -webkit-appearance: none;
        width: 70%;
    }
    
    input[type=range]::-webkit-slider-runnable-track {
        width: 300px;
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }
    
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: rgb(245, 92, 3);
        margin-top: -10px;
    }
    
    input[type=range]:focus {
        outline: none;
    }
    
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }
}

    .header-logo-banner{
        margin-top: 1%;
        .logo{
            display: flex;
            width: 100%;
            justify-content: center;
            border-bottom: 5px solid #d7580a;
            a{
            width: auto;
            height: auto;
                img{
                    margin: 0%;
                    height: $height-width-product;
                    width:$height-width-product;
                    padding: 0%;
                }
             }
        }
        .banner-header{
            width: 100%;
            #title-banner-header-flash-sale{
                width: 100%;
                margin: 0%;
                margin-bottom: 1%;
                margin-top: 1%;
                background-image: url('/images//background-flash-sale/bn5.jpg');
                background-size: cover;
                color: white;
                font-weight: 700;
                padding: 0%;
                text-align: center;
            }
            .list-flash-sale-banner{
                width: 100%;
                height: auto;
                display:flex;
              #flash-sale1 , #flash-sale2 {
                display: flex;
                width: 50%;
                height: fit-content;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap-reverse;
                min-height: max-content;
               .title-flash-sale{
                    width: 100%;
                    height: 100%;
                    bottom: 0%;
                    margin-top: 3%;
                    z-index: 1;
                    // background-image: url("/images/banner/vecteezy_orange-background-orange-gradient-background-for_8032461.jpg");
                    background-size: cover; 
                    background-color: #f6711f;
                    border-radius: 10px;
                    p{
                        color: white;
                        font-weight: 700;
                        text-align: center;
                        padding: 0%;
                        margin: 0%;
                        font-size: large;
                    }
               }
                .flash-sale-pro{
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    height: 100%;
                    position: relative;
                    .icon-flashsale{
                        @include icon-sale();
                    }
                    img{
                        height: 65%;
                        width: 100%;
                    }
                    .flash-sale-content{
                        width: 100%;
                        height: 10%;
                        p , h4{
                            font-size: small;
                            text-align: center;
                            color: rgb(255, 196, 0);
                            font-weight: 700;
                        }
                    }
                }
            }  
            }
        }
        .text-promotion{
            margin-top: 1%;
            padding: 0%;
            margin: 0%;
            display: flex;
            text-align: center;
            flex-direction: column-reverse;
            justify-content: center;
            background-image: url("/images/background-flash-sale/bn1.jpg");
            background-size: cover;
            h2{
                color: #d7580a;
                margin: 0%;
                font-weight: bold;
                font-size: xx-large;
            }
        }
        
    }
    .search-socialmedia{
        height: auto;
        margin-top: 1.5%;
        // margin-bottom: -10px;
        .title-web{
            h1{
                font-size: x-large;
                text-align: center;
                color: #f6711f;
            }
        }
        .list-sear-medi{
            display: flex;
            .search{
                display: flex;
                justify-content: left;
                input{
                    width: 92%;
                    height: $height-icon;
                    border: 0.5px solid #83838373;
                }
                i{
                    width: $height-icon;
                    height:  $height-icon;
                    text-align: center;
                    font-size: xx-large;
                    line-height: $height-icon;
                    background-color: #d7580a;
                    color: white;
                }
            }
            .socialmedia{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                line-height: $height-icon;
                a{
                    color: #7b7b7a;
                    font-size: large;
                }
                img{
                    width: $height-icon;
                    height: $height-icon;
                }

            }
        }
    }
    .header-content{
        height:  auto;
        margin-top: 1%;
        .menu-slider{
            width: 100%;
            height: 100%;
            margin: 0%;
            padding: 0%;
            .left-menu{
                height: 100%;
                ul{
                    text-align: left;
                    margin: 0%;
                    margin-left: 7%;
                    padding: 0%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li{
                        list-style-type: none;
                        height:calc($height-img-slider-header / 8);                        ;
                        i{
                            color: #8a897c;
                            margin-right: 10px;
                        }
                        a{
                            color: black;
                            font-size: medium;
                        }
                    }
                }
            }
            .slider{
                height: auto;
                padding: 0%;
                .slick-slider{
                    padding: 0%;
                    margin: 0%;
                }
                .click-prev-next{
                    height: auto;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    z-index: 1;
                    top: 45%;
                    #btn-prev{
                        left: 0%;
                        background-color: rgb(244, 238, 238,0%);
                        border: none;
                        i{
                            font-size: 2rem;
                        }
                    }
                    #btn-next{
                        right: 0%;
                        background-color: rgb(244, 238, 238,0%);
                        border: none;
                        i{
                            font-size: 2rem;
                        }
                    }
                }
                .slick-prev{
                    display: none;
                }
                .slick-next{
                    display: none;
                }
                .slides{
                    height: $height-img-slider-header;
                    padding: 0%;
                    margin: 0%;
                    .slide{
                        height: 100%;
                        img{
                            width: 100%;
                            height: $height-img-slider-header;
                            margin: 0%;
                            padding: 0%;
                        }
                    }
                }
            }
        }
        
    }
    .best-sale-products-slider{
        height: auto;
        margin-top: 1%;
        h1{
            width: 100%;
            text-align: justify;
            color: $color-text;
            color: white;
            background-image: url("/images/background-flash-sale/bn2.jpg");
            background-size: cover;
        }
        .list-sale-product{
            min-height: 340px;
            margin-top: 2%;
            background-image: url("/images/background-flash-sale/bn5.jpg");
            .products{
                padding: 0%;
                margin: 0%;
                min-height: 340px;
                .title-timeset-product{
                    width: 100%;
                    margin-top: 4%;
                    display: flex;
                    flex-direction: row;
                    h3{
                        color: white;
                        font-size: x-large;
                        i{
                            color: rgb(246, 255, 0);
                        }
                    }
                    .time-set{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-left: 3%;
                        p{
                            font-size: x-large;
                            margin-left: 4%;
                        }
                        .hour , .minute , .second{
                            background-color: #f00b40;
                            width: 50px;
                            text-align: center;
                            border-radius: 5px;
                            height: auto;
                            color: white;
                            font-weight: bold;
                        } 
                    }
                }
                .list-products{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .product{
                height: auto;
                width: 160px;
                padding: 0%;
                margin: 2%;
                
                img{
                    width:100%;
                    height:70%;
                    padding: 0%;
                    object-fit: contain;
                }
                p{
                    width: 100%;
                    text-align: center;
                    padding: 0%;
                    font-size: small;
                    color: white;
                    height: auto;    
                }
                .product-price{
                    color: white;
                    font-size: large;
                    font-weight: 600;
                }
                .counter-buyer{
                    width: 100%;
                    height: 10%;
                    position: relative;
                    .line-up{
                        width: 50%;
                        border-radius: 10px;
                        position: absolute;
                        top: 0%;
                        height:100%;
                        background-color: #f02d0b;

                    }
                    .line-down{
                        border-radius: 10px;
                        width: 100%;
                        height:100%;                        
                        background-color: #f28d3b;      
                        p{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            font-size: small;
                            color: white;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }                  

                    }
                }
            }  
                }
            }
            .banner-best-sale{
                min-height: 330px;
                padding: 0%;
                .product-sale-slider::after{
                    content: " ";
                    position: absolute;
                    top: 0%;
                    width: 100%;
                    height: 0%;            
                    background-color: #f6f5f599;
                }
                .product-sale-slider:hover::after{
                content: "% SALE HÔM NAY % ";
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fb6304;
                font-weight: bolder;
                line-height: -100%;
                font-size: xx-large;
                text-align: center;
                transition: 0.6s;
                }
                .product-sale-slider{
                    position: relative;
                    height: 90%;
                    img{
                    top: 0%;
                    padding: 0%;
                    z-index: 0;
                    width: 100%;
                    left: 10%;
                    height: 100%;
                    object-fit: cover;
                    }
                    
                    button{
                        position: absolute;
                        bottom: 0%;
                        z-index: 1;
                        width: 100%;                        
                        height: 15%;
                        padding: 0%;
                        border: none;
                        font-size: large;
                        background-color: #fd7608cd;
                        color: white;
                        
                    }  
                }
                
            }    
        }
    }
    .suggest-products-today{
        height: auto;
        margin-top: 2%;
        .search-list{
            height: auto;
            .range-calculator{
                width: 100%;
                height: auto;
                .range-feture{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    label{
                        font-size: large
                    }
                    @include input-range();  
                }
                #result{
                    width: 100%; 
                    margin:0%;
                    height: 30px;
                    font-size: larger;
                    text-align: center;
                    line-height: 15px;
                    background-color: #f77307f3;
                    color: white;
                    border: none;
                }
            }
            .search-menu{
                display: flex;
                flex-direction: row;
                margin-left: 0%;
                margin-top: 2%;
                height: auto;
                .search{
                height: auto;
                width: 30%;
                display: flex;
                padding: 0%;
                justify-content: left;
                input{
                    width: 100%;
                    height: $height-icon;
                    border: 0.5px solid #83838373;
                }
                i{
                    width: $height-icon;
                    height:  $height-icon;
                    text-align: center;
                    font-size: x-large;
                    line-height: $height-icon;
                    background-color: #f77307f3;
                    color: white;
                }
                }  
                .menu{
                    width: 68%;
                    padding: 0%;
                    margin: 0%;
                    margin-left: 2%;
                ul{
                    display: flex;
                    width: 100%;
                    height: $height-icon;
                    list-style: $height-icon;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0%;
                    margin: 0%;
                    li{
                        list-style-type: none;
                        height: 100%;
                        a{
                            color: #fedd04;
                            font-weight: 700;
                            font-size: large;
                            line-height: $height-icon;
                        }
                    }
                }
                }   
            }
                 
        }
        .title-suggest{
            height: auto;
            .title{
                display: flex;
                flex-direction: column;
                justify-content: end;
                p{
                    width: 100%;
                    text-align: center;
                    font-size: larger;
                    color: $color-text;
                    font-weight: 700;
                    line-height: 50%;
                }
            }
            .line{
                padding: 0%;
                margin: 0%;
                border-top: 0.5rem solid #f77307f3;
                border-radius: 20px;
            }
        }
        .list-suggest-products{
            margin-top: 4%;
            height: 800px;
            .list-products{
                width: 100%;
                height: auto;
                margin: 0%;
                padding: 0%;
               .product{
                @include product();
            } 
            }
            .load-more{
                text-align: center;
                margin-top: 2%;
                a{
                    margin-left: 50%;
                    font-size: larger;
                    color: #d7580a;
                }
            }
        }
    }

    // @media only screen and (min-width: 600px) {
    // .best-sale-products-slide{
    //         .list-sale-product{
    //             .banner-best-sale{
    //                 display: none;
    //             }
    //         }
    //     }

    // }

    @media only screen and (min-width:600px){

    }
